* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 46px;
    margin-bottom: 50px;
}

input[type="checkbox"] {
    display: none;
}

label {
    display: flex;
    align-items: center;
    width: 150px;
    height: 50px;
    cursor: pointer;
    background-color: #000000;
    border-radius: 50px;
}

.circle {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: transform 0.5s;

}

.switch:checked + label .circle {
    transform: translateX(100px);
}

body.dark {
    background-color: #292C35;
    color: #ffffff;
}